#search_icon{
    height: 20px;
}

body {
    background-image: url('Image/tezos-FT1ePvQ1HlE-unsplash.jpg');
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 120%;
}

.card {
    background: #000000d0;
    color: white ;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

h1.temp{
    margin: 0;
}

.search{
    font: boldu;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 3em;
    width: 3em;
    outline: none;
    background-color: #c7c7c72b;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.flex{
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
}

button:hover{
    background-color: #b8b4b46b;
}

input.search_bar{
    color: white;
    border: none;
    outline: none;
    padding: 0.7em;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    font-family: inherit;
    width: 20em;
    /* font-size: 120%; */
}
